<div id="map-page">
  <div class="col-lg-12">
    <div class="col-lg-12">
        <div class="col-lg-5"></div>
          <h1 class="col-lg-2">
           {{title}}
          </h1>
          <div class="col-lg-5"></div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-4"></div>
        <h3 class="col-lg-4">
          {{subtitle}}
        </h3>
        <div class="col-lg-4"></div>
    </div>
  </div>
  <div class="col-lg-12">
    <!-- Step 1 -->
    <div class="col-lg-4">
      <h2 align="center">
        Step 1
      </h2><br />
      <div align="center">
          <label for="CountryTypeDDL" class="control-label label-title">select the country</label>
          <select (change)="onSelect($event.target.value)">
              <option></option>              
            <option *ngFor="let continent of allContinentsData">
              {{continent.continent}}
            </option>
            </select>            
      </div>
    </div>
    <!-- Step 2 -->
    <div class="col-lg-4" ng-show="">
        <h2 align="center">
          Step 2
        </h2><br />
        <div align="center"> 
            <label for="CountryTypeDDL" class="control-label label-title"> now select the country</label>
            <select (change)="onSelect($event.target.value)">
                    <option></option>              
                  <option *ngFor="let country of countries">
                    {{country.name}}
                  </option>
                  </select> 
        </div>
    </div>
    <!-- Step 3 -->
    <div class="col-lg-4" ng-show="">
        <h2 align="center">
            Selected Flags:
        </h2><br />
        <div align="center"> 
            <button type="ClearFlags" class="btn btn-primary" id="ClearBtn">
                ClearFlags
            </button>
        </div>
    </div>
  </div>
</div>